<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/site.css">
  <link rel="shortcut icon" href="/others/icon/pokeball.ico" type="image/x-icon">
</head>

<body class="bg-body-tertiary">
  <header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">PokedexApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <a class="nav-link {{#if homeActive}}active{{/if}}" href="/">Home</a>
            <a class="nav-link {{#if pokemonsActive}}active{{/if}}" href="/pokemons">Pokemons</a>
            <a class="nav-link {{#if regionsActive}}active{{/if}}" href="/regions">Regions</a>
            <a class="nav-link {{#if typesActive}}active{{/if}}" href="/pokemonTypes">Pokemon Types</a>
          </ul>
        </div>
        {{#if homeActive}}
        <div>
          <form method="post" action="/find-pokemon">
            <div class="d-flex">
              <input class="form-control me-2" type="text" name="PokeName" placeholder="Pikachu..">
              <button class="searchBtn btn fw-bold">Go</button>
            </div>
          </form>
        </div>
        {{/if}}
      </div>
    </nav>
  </header>
  <div class="container mt-4">
    <main>
      {{{body}}}
    </main>
  </div>
  <script src="/assets/lib/bootstrap/js/bootstrap.min.js"> </script>
  <script src="/assets/js/site.js"></script>
</body>

</html>