.filter-container{
    background-color: #ffffff;
    border-radius: 2rem;
    position: relative;
    height: 220px;
}
.bottomDiv{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 10px;
}
.filterBtn{
    background-color: #fe7232;
    width: 100%;
    color: #fff;
    font-weight: bold;
}
.searchBtn{
    background-color: #fe7232;
    color: #fff;
    font-weight: bold;
}
.searchBtn:hover{
    color: #fff;
    background-color: #f65307;
}

.pokemon {
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
}


.pokemon .img-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
}

.pokemon .img-container img {
    margin-top: 20px;
    max-width: 90%;
}

.pokemon .info {
    margin-top: 20px;
}

.pokemon .number {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 0.8em;
    padding: 5px 10px;
}

.pokemon .name {
    margin: 15px 0 7px;
    letter-spacing: 1px;
}


.Fire {
    background-color: #fdf4df;
}

.Grass {
    background-color: #DEFDE0;
}

.electric {
    background-color: #FCF7DE;
}

.Water {
    background-color: #DEF3FD;
}

.Ground {
    background-color: #f4e7da;
}

.Rock {
    background-color: #d5d5d4;
}

.Fairy {
    background-color: #fceaff;
}

.Poison {
    background-color: #98d7a5;
}

.Bug {
    background-color: #f8d5a3;
}

.Dragon {
    background-color: #97b3e6;
}

.Psychic {
    background-color: #eaeda1;
}

.Flying {
    background-color: #F5F5F5;
}

.Fighting {
    background-color: #E6E0D4;
}

.Normal {
    background-color: #F5F5F5;
}